evaluator: APIEvaluator

num_traj: 18
order: false
env_config:
  id: 'gym_cards/GeneralPoint-oneline-v0'
  target_points: 24
  treat_face_cards_as_10: true # edit rule
  resolution: 1200
  verify_iter: 5
  face_cards_color: "black" # black, red, mixed
  ood: false # ood means only generate cards containing at least one jqk

model: gpt-4o
API_KEY: ""
API_URL: ""
model_path: ""
prompt_config:
  use_vision: true
  use_language: false
  enable_verification: true
  prompt_vision: ["Q_GeneralPoint_EQN_VL_EG"]
  pattern_vision: ["formula"]

generation_config:
  max_tokens: 256 # constraint max tokens
output_dir: logs/llama_gp_vl/api.jsonl
seed: 42